:root {
    --primary_color: #e2e3e7;
    --secondary_color: #001333;
    --header_color: var(--secondary_color);
    --alt_color: #c1cfdd;
    --card_color: #ebecf0;
    --title_color:white;
    --card_header: var(--header_color);
    --menu_color: var(--primary_color);
    --f7-dialog-button-text-color: var(--secondary_color);
    --f7-label-focused-text-color: black;
    --f7-theme-color: var(--primary_color);
    --end-timeline: 167px;
    --f7-checkbox-active-color: var(--secondary_color);
    --f7-radio-active-color: var(--secondary_color);
    --f7-list-bg-color: var(--card_color);
    --f7-list-margin-vertical: 0;
    --f7-popover-width: fit-content;
    --f7-sheet-bg-color: var(--card_color);
    --box-shadow: 10px 10px 20px #d8d9dd, -10px -10px 20px #feffff;
    --f7-sortable-handler-color: var(--secondary_color);
    --f7-tabbar-link-active-color: var(--secondary_color);
    --tab-link-highlight: var(--secondary_color);
    --f7-tabbar-link-active-border-color: var(--secondary_color);
    --color-lighten: color-mix(in srgb, var(--secondary_color) 40%, white);
    --color-darken: color-mix(in srgb, var(--secondary_color) 60%, black);
    --f7-page-bg-color: #e8e8f1;
    --f7-list-chevron-icon-color: var(--secondary_color);
    --f7-text-editor-text-color: black;
    --nav-buttons: black;
    --tab-color: grey;
    --top-fader: #c4c4ca;
    --highlight: var(--secondary_color);
}
